doctype html 
head 
  title Signup Page
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(href='/dist/style.css', rel='stylesheet')
body 
  .drop_down
    span Menu 
    .drop_down_content 
      a(href="#") Tất cả