<section class="section__hero section__hero--user-profile">
    <div class="section__hero__container">
        {{> components/breadcrumbs/default }}
        <div class="section__hero__profile">
            <div class="section__hero__avatar">
                <img src="" alt="">
            </div>
            <div class="section__hero__summary">
                <div class="section__hero__display-name">Nguyễn Văn Anh</div>
                <div class="section__hero__role">Người quan tâm</div>
            </div>
        </div>
    </div>
</section>