<ul class="breadcrumb">
    <li class="breadcrumb__item">
        <a href="#" class="breadcrumb__link">Trang chủ</a>
    </li>
    <li class="breadcrumb__item">
        <div class="breadcrumb__item-wrapper">
            <svg class="h-4 w-4" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 11.4375L5 0.5625" stroke="currentColor" stroke-linecap="round"/>
            </svg>

            <a href="#" class="breadcrumb__link">Thông tin cá nhân</a>
        </div>
    </li>
    <li class="breadcrumb__item">
        <div class="breadcrumb__item-wrapper">
            <svg class="h-4 w-4" viewBox="0 0 6 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 11.4375L5 0.5625" stroke="currentColor" stroke-linecap="round"/>
            </svg>

            <a href="#" class="breadcrumb__link">Thông tin tự cập nhật</a>
        </div>
    </li>
</ul>