<section class="banner banner--image-half">
    <div class="banner__cover">
        <div class="banner__cover-bg" style="background-image: url(/images/banner/membership.jpg)"></div>
        <img class="banner__cover-image" src="/images/banner/membership.jpg" alt="">
    </div>
    <div class="banner__mask">
        <div class="banner__container container container--default">
            <div class="banner__content">
                <h1 class="banner__content__title banner__content__title-box">Hội viên</h1>
                <div class="banner__content__description">Cập nhật liên tục những thông tin về Hội viên VACPA giúp Hội viên và những người quan tâm có thể theo dõi thông tin một cách nhanh chóng</div>
            </div>
        </div>
    </div>
</section>