<div class="featured-slider slider">
    <div class="featured-slider__container">
        <div class="featured-slider__view slider__view" data-slick="{{ homeSliderConfig }}">
            <div class="featured-slider__item" style="background-image: url(/images/slider/main-bg-xl.png)">
                <div class="featured-slider__item__container container">
                    <div class="featured-slider__item__content">
                        <div class="featured-slider__title">Hội Kiểm toán viên hành nghề Việt Nam</div>
                        <div class="featured-slider__desc">Là Hội nghề nghiệp chuyên nghiệp, độc lập và cùng hội nhập, phát triển theo thông lệ  hội nghề nghiệp quốc tế để tập hợp, đoàn kết các tổ chức, cá nhân hành nghề kiểm toán và tổ chức các hoạt động quản lý nghề nghiệp.</div>

                        <a href="" class="btn btn--lg btn--error btn--icon-right">
                            <span>Tìm hiểu</span>
                            <i class='bx bx-right-arrow-alt'></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="featured-slider__item" style="background-image: url(/images/slider/main-bg-xl.png)">
                <div class="featured-slider__item__container container">
                    <div class="featured-slider__item__content">
                        <div class="featured-slider__title">Hội Kiểm toán viên hành nghề Việt Nam</div>
                        <div class="featured-slider__desc">Là Hội nghề nghiệp chuyên nghiệp, độc lập và cùng hội nhập, phát triển theo thông lệ  hội nghề nghiệp quốc tế để tập hợp, đoàn kết các tổ chức, cá nhân hành nghề kiểm toán và tổ chức các hoạt động quản lý nghề nghiệp.</div>

                        <a href="" class="btn btn--lg btn--error btn--icon-right">
                            <span>Tìm hiểu</span>
                            <i class='bx bx-right-arrow-alt'></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="featured-slider__item" style="background-image: url(/images/slider/main-bg-xl.png)">
                <div class="featured-slider__item__container container">
                    <div class="featured-slider__item__content">
                        <div class="featured-slider__title">Hội Kiểm toán viên hành nghề Việt Nam</div>
                        <div class="featured-slider__desc">Là Hội nghề nghiệp chuyên nghiệp, độc lập và cùng hội nhập, phát triển theo thông lệ  hội nghề nghiệp quốc tế để tập hợp, đoàn kết các tổ chức, cá nhân hành nghề kiểm toán và tổ chức các hoạt động quản lý nghề nghiệp.</div>

                        <a href="" class="btn btn--lg btn--error btn--icon-right">
                            <span>Tìm hiểu</span>
                            <i class='bx bx-right-arrow-alt'></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="featured-slider__controls">
            <div class="featured-slider__controls__wrapper">
                <div class="slider--control control--left">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M12.5417 3.4001L7.10832 8.83343C6.46666 9.4751 6.46666 10.5251 7.10832 11.1668L12.5417 16.6001" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
                <div class="slider--control control--right">
                    <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M7.45834 16.5999L12.8917 11.1666C13.5333 10.5249 13.5333 9.4749 12.8917 8.83324L7.45834 3.3999" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                    </svg>
                </div>
            </div>
        </div>
    </div>
</div>