<section class="section member-path">
    <div class="section__bg-mask"></div>

    <div class="section__container container">
        <div class="member-path__slider slider">
            <div class="slider__container">
                <div class="slider__view">
                    <div class="slider__item">
                        <div class="slider__item__content">
                            <div class="slider__item__title">Con đường trở thành Hội viên</div>
                            <div class="slider__item__desc">Từng bước để trở thành Hội viên của VACPA hãy tìm hiểu và chuẩn bị kiến thức thật vững</div>
                            <a class="btn btn--lg btn--icon-right btn--link">
                                <span>Tìm hiểu thêm</span>
                                <i class='bx bx-right-arrow-alt'></i>
                            </a>

                            <a href="#" class="btn btn-cta btn--neutral-white btn--lg">Trở thành Hội viên</a>
                        </div>
                    </div>
                </div>

                <div class="slider-controls">
                    <div class="slider--control control--left">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12.5417 3.4001L7.10832 8.83343C6.46666 9.4751 6.46666 10.5251 7.10832 11.1668L12.5417 16.6001" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                    <div class="slider--control control--right">
                        <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M7.45834 16.5999L12.8917 11.1666C13.5333 10.5249 13.5333 9.4749 12.8917 8.83324L7.45834 3.3999" stroke="currentColor" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round"/>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>