<div class="login_page">
    <div class="login_header signin-signup-header">
        <h1>Đăng nhập </h1>
        <div class="login_signup_question"> <span>Bạn chưa có tài khoản?</span><a href="/">Đăng ký ngay</a></div>
    </div>
    <div class="login_form">
        <form action="/login" method="post">
            <input class="form-control" type="text" name="username" id="username" placeholder="Tên đăng nhập"/>
            <input class="form-control" type="password" name="password" id="password" placeholder="Mật khẩu"/>
            <button class="button-primary" type="submit">Đăng nhập</button><a href="#">Quên mật khẩu? </a>
        </form>
    </div>
</div>